{% extends "base.html" %} {% block content %}
<div class="form-container">
  <h2>Reset Password</h2>
  <form method="POST">
    <input type="email" name="email" placeholder="Enter your email" required />
    <input
      type="text"
      name="secret_word"
      placeholder="Enter your secret word"
      required
    />
    <input
      type="password"
      name="new_password"
      placeholder="Enter new password"
      required
    />
    <button type="submit">Reset Password</button>
  </form>
</div>
{% endblock %}
